.tabela-agendamentos {
	margin-top: 20px !important;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.popover {
	background: #F9F9F9;
	color: #5E7080;
}

.popover.bottom .arrow:after {
	border-bottom-color: #F9F9F9;
	color: #5E7080;
}

* {
	box-sizing: border-box !important;
}

.popover.top .arrow:after {
	border-top-color: #F9F9F9;
	color: #5E7080;
}

.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #2C3E50;
}

th {
	border: 3px solid #2C3E50;
	font-size: 16px;
}

thead, tfoot {
	color: #fff;
	border: 3px solid #2C3E50;
	background-color: #2C3E50;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	z-index: 2;
	color: #FFF;
	cursor: default;
	background-color: #476481;
	border-color: #476481;
	background-image: linear-gradient(to bottom, #566472 0px, #476481 100%);
	background-repeat: repeat-x;
}

.agendamento-row {
	border-left: 3px solid #2C3E50;
	border-right: 3px solid #2C3E50;
	font-size: 14px;
	color: #5E7080;
}

.st-sort-ascent:after {
	content: '\25B2';
}

.st-sort-descent:after {
	content: '\25BC';
}