.fundo1 {
	-webkit-box-shadow: 0px 2px 2px 4px rgba(22, 22, 41, 1);
	-moz-box-shadow: 0px 2px 2px 4px rgba(22, 22, 41, 1);
	box-shadow: 0px 2px 2px 4px rgba(22, 22, 41, 1);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	background-color: #161629;
	color: #09091a;
	margin-left: 40px;
	margin-top: 20px;
}

.content-tree-margin {
	margin-left: 40px;
	margin-right: 40px;
}

.fundo2 {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #c0c0c8;
	padding-bottom: 0px;
}

.fundo3 {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #c0c0c8;
	margin-bottom: 20px;
}

p {
	margin: 0 0 5px;
}

label {
	width: 100%;
	margin-left: 20px;
}

#descricao-wizard li:not(:last-child) {
    margin-bottom: 40px;
}

.label {
	font-size: larger;
	max-width: 100%;
	font-weight: 700;
	color: #09091a;
	padding-left: 0px !important;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-wizard {
	margin-left: 4px;
	background-color: #222233 !important;
	color: white !important;
}

.btn-wizard:hover {
	background-color: #28284a !important;
	color: white !important;
}

.titulo {
	margin: 20px;
}

.pager-size {
	max-width: 800px;
	margin: 0 auto;
}

.wizard-content {
	max-width: 800px;
	min-height: 350px;
	margin: 0 auto;
}

.bg-objetivos {
	background-color: #161629;
	color: #fff;
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}

.projetos {
	font-size: 14px;
	background-color: #161629;
	color: #fff;
	margin: 20px;
	height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}

.input-objetivo-medicao {
	margin-top: 15px;
}

.objetivo-medicao {
	font-size: 14px;
	margin-left: -30px;
	margin-bottom: -10px;
	line-height: 45px !important;
}

.necessidade-informacao {
	font-size: 14px;
	margin-left: 50px;
	line-height: 30px !important;
}

.medida {
	font-size: 14px;
	margin-left: 80px;
	margin-bottom: 50px !important;
	line-height: 30px !important;
}

.projetos-resumo {
	font-size: 16px;
	background-color: #161629;
	color: #fff;
	padding-top: 10px;
	height: 60px;
	overflow-x: hidden;
	overflow-y: auto;
}

.medidas-resumo {
	font-size: 16px;
	background-color: #161629;
	color: #fff;
	padding-top: 10px;
	height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
}

.periodicidade-resumo {
	font-size: 16px;
	background-color: #161629;
	color: #fff;
	padding-top: 10px;
	padding-left: 10px;
	height: 25px;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.row2 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
}

.steps-indicator.steps-7::before {
	display: none !important;
}

.steps-indicator.steps-7 li {
	width: calc(100%/ 7);
	border-top: dashed 1px #5b5b69;
}

.steps-indicator li a {
	color: #09091a;
	text-decoration: none;
	text-transform: none;
	font-weight: bold;
	transition: 0.25s;
	cursor: pointer;
}

.steps-indicator li.current a::before {
	background-color: #1fbad6;
}

.form-control {
	height: 20px;
}