.fundo1 {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	background-color: #161629;
	color: #09091a;
	margin-left: 40px;
	margin-top: 20px;
}

.content-tree-margin{
	margin-left: 40px;
	margin-right: 40px;
}

.fundo2 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #c0c0c8;
	padding-bottom: 0px;
}

.fundo3 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #c0c0c8;
	margin-bottom: 20px;
}

.btn-wizard{
	background-color: #222233 !important;
	color: white !important;
}

.btn-wizard:hover {
	background-color: #28284a !important;
	color: white !important;
}

.titulo {
	margin 20px;
}

.pager-size {
	max-width: 800px;
	margin: 0 auto;
}

.wizard-content {
	max-width: 700px;	
	height: 300px;
	margin: 0 auto;
} 

.bg-wizard {
	background-color: #161629;
	color: #fff;
	height: 170px;
	overflow-x: hidden;
	overflow-y: auto;
}

.row {
	margin-right: 80px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.steps-indicator.steps-7::before {
	display:none !important;	
}

.steps-indicator.steps-7 li {
    width: calc(100% / 7);
    border-top: dashed 1px #5b5b69;
}

.steps-indicator li a {
    color: #09091a;
    text-decoration: none;
    text-transform: none;
    font-weight: bold;
    transition: 0.25s;
    cursor: pointer;
}

.steps-indicator li.current a::before {
    background-color: #1fbad6;
}

