.tab-pane {
	border-top: 1px solid #2F70A8;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
}

.nav-tabs {
	margin-bottom: 0;
}

.tab-content>.active {
	background-color: #f4f4f4;
}

a, a:focus, a:hover {
	color: #2F70A8;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	background-color: #2F70A8;
	color: #fff;
	font-weight: bold;
	border-color: #2F70A8 #2F70A8 #2F70A8 #2F70A8;
}