.tab-pane {
	border: 1px;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
	margin-left: 20px;
}

.nav-tabs {
	margin-top: 20px;
}

.tab-content>.active {
	background-color: #e9ebed;
	border-color: #2C3E50 #2C3E50 #2C3E50 #2C3E50;
	border: 1px solid;
}

a, a:focus, a:hover {
	color: #2C3E50;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	background-color: #2C3E50;
	color: #FFF;
	font-weight: bold;
	border-color: #2C3E50;
	margin-top: 10px;
	margin-left: 20px;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 1.42857;
	border-radius: 4px 4px 0px 0px;
	margin-top: 10px;
}