.tab-pane {
	border: 1px;
	padding: 10px;
	border-radius: 0px 0px 5px 5px;
}

.nav-tabs {
	margin: 0;
}

.tab-content>.active {
	background-color: #e9ebed;
	border-color: #2C3E50 #2C3E50 #2C3E50 #2C3E50;
	border: 1px solid;
}

a, a:focus, a:hover {
	color: #2C3E50;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	background-color: #2C3E50;
	color: #fff;
	font-weight: bold;
	border-color: #2C3E50 #2C3E50 #2C3E50 #2C3E50;
}