/BeansContext.properties
/GalleryImage.hbm.xml
/LoginContextFactory.properties
/META-INF/
/Mestrado-labels_en.properties
/Mestrado-messages_en.properties
/application.xml
/controllers.xml
/default-size.xml
/dtds/
/editors.xml
/hibernate.cfg.xml
/jndi-jboss.properties
/jndi-websphere.properties
/jndi.properties
/logging.properties
/org/
/portlets/
