/GalleryImage.hbm.xml
/META-INF/
/MySchool-labels_ca.properties
/MySchool-labels_en.properties
/MySchool-labels_es.properties
/application.xml
/dtds/
/hibernate.cfg.xml
/logging.properties
/naviox-users.properties
/naviox.properties
/org/
/portlets/
/xava-junit.properties
/xava.properties
