/BeansContext.properties
/GalleryImage.hbm.xml
/InvoiceDemo-labels_en.properties
/InvoiceDemo-labels_es.properties
/InvoiceDemo-messages_en.properties
/LoginContextFactory.properties
/META-INF/
/application.xml
/dtds/
/hibernate.cfg.xml
/jndi-jboss.properties
/jndi-websphere.properties
/jndi.properties
/logging.properties
/naviox-users.properties
/naviox.properties
/org/
/portlets/
/xava-junit.properties
/xava.properties
